.backgroundImage {
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
    z-index: 1;
}

.carouselHeight{
    width: 100%;
    max-height: 200px !important;
}

#parent {
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
}

#child {
    position: absolute;
    width: 80px;
    height: 80px;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
    top: -40px;
    left: 460px;
}

.box-shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}