.backgroundImage {
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
    z-index: 1;
}

.carouselHeight{
    width: 100%;
    max-height: 200px !important;
}

#parent {
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transform: rotate(0deg);
    transition: transform 0.7s linear;
}

.box-shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.box-shadow-top {
    box-shadow:
    0px -2.7px 2.8px rgba(0, 0, 0, 0.028),
    0px -6.6px 6.7px rgba(0, 0, 0, 0.04),
    0px -12.4px 12.5px rgba(0, 0, 0, 0.05),
    0px -22.1px 22.3px rgba(0, 0, 0, 0.06),
    0px -41.4px 41.8px rgba(0, 0, 0, 0.072),
    0px -99px 100px rgba(0, 0, 0, 0.1);
}

.child {
    
    /* 
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */
    width: 80px;
    height: 80px;
    position: absolute;
    left: 460px;
    top: 460px;
    

    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific 
     * prefixes as well as the official syntax for now. Remember, tools like 
     * CSS Please are your friends!
     */
    -webkit-animation: myOrbit 20s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit 20s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit 20s linear infinite; /* Opera 12+ */
            animation: myOrbit 60s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
    
    
}

/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.  The browser will interpolate all the frames between these 
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes myOrbit {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(500px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(500px) rotate(-360deg); }
}

.child2 {
    
    /* 
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */
    width: 80px;
    height: 80px;
    position: absolute;
    left: 460px;
    top: 460px;
    

    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific 
     * prefixes as well as the official syntax for now. Remember, tools like 
     * CSS Please are your friends!
     */
    -webkit-animation: myOrbit2 20s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit2 20s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit2 20s linear infinite; /* Opera 12+ */
            animation: myOrbit2 60s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
    
    
}

/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.  The browser will interpolate all the frames between these 
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes myOrbit2 {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit2 {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit2 {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit2 {
    from { transform: rotate(0deg) translateX(-500px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(-500px) rotate(-360deg); }
}

.child3 {
    
    /* 
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */
    width: 80px;
    height: 80px;
    position: absolute;
    left: 460px;
    top: 460px;
    

    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific 
     * prefixes as well as the official syntax for now. Remember, tools like 
     * CSS Please are your friends!
     */
    -webkit-animation: myOrbit3 20s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit3 20s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit3 20s linear infinite; /* Opera 12+ */
            animation: myOrbit3 60s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
    
    
}

/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.  The browser will interpolate all the frames between these 
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes myOrbit3 {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit3 {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit3 {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit3 {
    from { transform: rotate(0deg) translateY(500px) rotate(0deg); }
    to   { transform: rotate(360deg) translateY(500px) rotate(-360deg); }
}

.child4 {
    
    /* 
     * Make the initial position to be the center of the circle you want this
     * object follow.
     */
    width: 80px;
    height: 80px;
    position: absolute;
    left: 460px;
    top: 460px;
    

    /*
     * Sets up the animation duration, timing-function (or easing)
     * and iteration-count. Ensure you use the appropriate vendor-specific 
     * prefixes as well as the official syntax for now. Remember, tools like 
     * CSS Please are your friends!
     */
    -webkit-animation: myOrbit4 20s linear infinite; /* Chrome, Safari 5 */
       -moz-animation: myOrbit4 20s linear infinite; /* Firefox 5-15 */
         -o-animation: myOrbit4 20s linear infinite; /* Opera 12+ */
            animation: myOrbit4 60s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
    
    
}

/*
 * Set up the keyframes to actually describe the begining and end states of 
 * the animation.  The browser will interpolate all the frames between these 
 * points.  Again, remember your vendor-specific prefixes for now!
 */
@-webkit-keyframes myOrbit4 {
    from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-moz-keyframes myOrbit4 {
    from { -moz-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -moz-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@-o-keyframes myOrbit4 {
    from { -o-transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { -o-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

@keyframes myOrbit4 {
    from { transform: rotate(0deg) translateY(-500px) rotate(0deg); }
    to   { transform: rotate(360deg) translateY(-500px) rotate(-360deg); }
}