:root {
    --start-degree: 360deg;
    --start-degree-negative: -360deg;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

a, a:active {
    text-decoration: none;
}

.hidden {
    visibility: hidden;
    height: 0;
    width: 0;
}
.box-shadow {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.box-shadow-top {
    box-shadow:
    0px -2.7px 2.8px rgba(0, 0, 0, 0.028),
    0px -6.6px 6.7px rgba(0, 0, 0, 0.04),
    0px -12.4px 12.5px rgba(0, 0, 0, 0.05),
    0px -22.1px 22.3px rgba(0, 0, 0, 0.06),
    0px -41.4px 41.8px rgba(0, 0, 0, 0.072),
    0px -99px 100px rgba(0, 0, 0, 0.1);
}

.showcase .target {
    max-height: 99%;
}

.showcase .container-fluid {
    max-width: 95vw;
}

.showcase .film {
    position: relative;
    height: 100%;
    text-align: center;
    justify-self: center;
}

.showcase .film img {
    width: 100%;
    vertical-align: top;
}

.showcase i {
    height: 100%;
}

.showcase .film::after {
    content: attr(data-content)"\A 2022";
    white-space: pre;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -25px);
    z-index: 100;
    color: #fff;
    opacity: 0;
    transition: all .25s;
    -webkit-transition: all .25s;
    font-weight: bold;
    font-size: 25px;
}


.showcase a:after {
    content: '';
    position: absolute;
    width: 100%; 
    height:99%;
    top:0;
    left:0;
    background:rgba(0,0,0,0.7);
    opacity: 0;
    transition: all .25s;
    -webkit-transition: all .25s;
    text-align: center;
}

.showcase a:hover:after{
    opacity: 1;
}

.showcase .film:hover::after {
    opacity: 1;
}

.showcase i:hover::after {
    opacity: 1;
}

.about img {
    max-height: 800px;
    width: auto;
}

.navbar a {
    font-weight: normal;
}

.navbar a:hover {
    font-weight: bolder;
}

